<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <main>
      <%- include("../partials/nav.ejs") %>

      <div class="details content">
        <div class="group">
          <h2 class="title"><%= note.title %></h2>
          <p class="description"><%= note.description %></p>
        </div>
        <a class="delete" data-doc="<%= note._id %>"
          ><img src="/assets/trash.svg" alt="delete"
        /></a>
      </div>

      <%- include("../partials/footer.ejs") %>
    </main>
  </body>
</html>
